@charset "utf-8";

/*globe*/


/***************** reset *****************/

body,
ul,
ol,
h1,
h2,
h3,
h4,
h5,
h6,
form,
ul,
li,
p,
input,
select,
legend,
textarea,
dl,
dd,
dt,
fieldset,
table,
th,
td {
	margin: 0;
	padding: 0;
	word-break: break-all;
}

div {
	margin: 0 auto;
	word-break: break-all;
}

a {
	/*color:#5b5a5a;*/
	text-decoration: none;
	blr: expression(this.onFocus=this.blur());
	outline: none;
	cursor: pointer;
}

a:hover {
	/*color:#0064ab; */
	text-decoration: none;
}

.clear {
	clear: both;
}

.footer {
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	padding: 10px 0;
	text-align: center;
	font-size: 22px;
	line-height: 20px;
	z-index: -1;
}


/*main*/

.bg {
	background: url(../../../static/img/index_bg.png) no-repeat;
	background-position: left top;
	background-size: 100%, cover;
	background-attachment: fixed;
	color: #FFFFFF;
	z-index: -1;
}


/*.w640{background:url("../../../static/img/index_bg.png") content-box no-repeat;
height: 1140px;
	filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod='scale')";
	background-size: 100%;
    background-position: top;
    background-attachment: fixed;}*/

header .title {
	padding-top: 134px;
	text-align: center;
	color: #d30101;
}

.hm_icon .f-l {
	position: absolute;
	top: 30px;
	left: 30px;
}

.hm_icon .f-l img {
	width: 84px;
	float: left;
	border-radius: 50%;
	border: 3px solid #fff;
}

.hm_icon .f-l h2 {
	width: 330px;
	margin: 10px 0 0 20px;
	float: left;
	color: #fff;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.hm_icon .f-l h2 small {
	line-height: 60px;
}

.hm_icon .f-r {
	position: absolute;
	right: 30px;
	top: 30px;
	width: 60px;
}

.hm_icon .f-r img,
.hm_icon .f-r ul {
	float: left;
}

.hm_icon .f-r img {
	width: 60px;
}
.hm_icon .f-r ul {
	height: 50px;
}
.hm_icon .f-r ul.countdown {
	list-style: none;
	margin: 0;
	padding: 0;
	display: block;
}

.hm_icon .f-r ul.countdown li {
	display: inline-block;
}

.hm_icon .f-r ul.countdown li span {
	font-size: 40px;
	line-height: 126px;
	color: #d6273a;
}

/*.source {
	width: 405px;
	margin: 0 auto;
	background: #4f5861;
	color: #a7abb1;
	font-weight: bold;
	display: block;
	white-space: pre;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}*/
.btn {
	background: #f56c4c;
	margin: 40px auto;
	padding: 12px;
	display: block;
	width: 100px;
	color: white;
	text-align: center;
	text-transform: uppercase;
	font-weight: bold;
	text-decoration: none;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
}

.btn:hover {
	text-decoration: none;
	opacity: .7;
}

header .f100 {
	padding-top: 164px;
	margin: 0 auto;
	background: url("../../../static/img/100f.png")/*tpa=images/100f.png*/
	no-repeat 0 168px;
	width: 587px;
	height: 217px;
}

header .f90 {
	padding-top: 164px;
	margin: 0 auto;
	background: url("../../../static/img/90f.png")/*tpa=images/90f.png*/
	no-repeat 0 168px;
	width: 587px;
	height: 217px;
}

header .f80 {
	padding-top: 164px;
	margin: 0 auto;
	background: url("../../../static/img/80f.png")/*tpa=images/80f.png*/
	no-repeat 0 168px;
	width: 587px;
	height: 217px;
}

header .f70 {
	padding-top: 164px;
	margin: 0 auto;
	background: url("../../../static/img/70f.png")/*tpa=images/70f.png*/
	no-repeat 0 168px;
	width: 587px;
	height: 217px;
}

header .f60 {
	padding-top: 164px;
	margin: 0 auto;
	background: url("../../../static/img/60f.png")/*tpa=images/60f.png*/
	no-repeat 0 168px;
	width: 587px;
	height: 217px;
}

header .f50 {
	padding-top: 164px;
	margin: 0 auto;
	background: url("../../../static/img/50f.png")/*tpa=images/50f.png*/
	no-repeat 0 168px;
	width: 587px;
	height: 217px;
}

header .f40 {
	padding-top: 164px;
	margin: 0 auto;
	background: url("../../../static/img/40f.png")/*tpa=images/40f.png*/
	no-repeat 0 168px;
	width: 587px;
	height: 217px;
}

header .f30 {
	padding-top: 164px;
	margin: 0 auto;
	background: url("../../../static/img/30f.png")/*tpa=images/30f.png*/
	no-repeat 0 168px;
	width: 587px;
	height: 217px;
}

header .f20 {
	padding-top: 164px;
	margin: 0 auto;
	background: url("../../../static/img/20f.png")/*tpa=images/20f.png*/
	no-repeat 0 168px;
	width: 587px;
	height: 217px;
}

header .f10 {
	padding-top: 164px;
	margin: 0 auto;
	background: url("../../../static/img/10f.png")/*tpa=images/10f.png*/
	no-repeat 0 168px;
	width: 587px;
	height: 217px;
}

header .f0 {
	padding-top: 164px;
	margin: 0 auto;
	background: url("../../../static/img/0f.png")/*tpa=images/0f.png*/
	no-repeat 0 168px;
	width: 587px;
	height: 217px;
}

.hm_text {
	padding-top: 36px;
	line-height: 36px;
	font-size: 28px;
	color: #540506;
	width: 548px;
	margin: 0 auto;
}

.hm_text01 {
	padding-top: 60px;
	text-align: center;
}

.hm_text02 {
	padding-top: 70px;
	text-align: center;
}

.btn_bg a {
	background: url("../../../static/img/btn_bg.png")/*tpa=images/btn_bg.png*/
	no-repeat;
	width: 493px;
	height: 106px;
	margin-bottom: 8px;
	line-height: 96px;
	font-size: 30px;
	color: #fff;
	text-align: center;
	display: block;
}

.hm_btn {
	width: 493px;
	height: 106px;
	margin: 0 auto;
	margin-top: 50px;
}

.content {
	background: rgba(255, 255, 255, 0.6);
	border-radius: 6px;
	width: 560px;
	margin: 0 auto;
	padding: 20px;
	margin-top: 30px;
	line-height: 36px;
	min-height: 280px;
	color: #450b0c;
	font-size: 30px;
}

.content_img {
	width: 480px;
	height: 300px;
	margin: 0 auto;
	position: relative;
}

.subject_t {
	line-height: 36px;
	padding-bottom: 10px;
	font-weight: bold;
}

.content p {
	margin-bottom: 12px;
	line-height: 60px;
}

.content p input {
	margin-right: 10px;
	width: 22px;
	height: 22px;
}

.no_choice {
	text-align: center;
	font-size: 30px;
	height: 36px;
	line-height: 36px;
	color: #000;
	margin-top: 30px;
}

.enter_btn a {
	background: url("../../../static/img/tj_btn_bg.png")/*tpa=images/tj_btn_bg.png*/
	no-repeat;
	width: 323px;
	margin: 0 auto;
	margin-top: 20px;
	height: 89px;
	line-height: 74px;
	color: #FFF;
	font-size: 30px;
	text-align: center;
	display: block;
}

.content_tl {
	background: url("../../../static/img/t_w.png")/*tpa=images/t_w.png*/
	;
	border-radius: 6px;
	width: 560px;
	margin: 0 auto;
	padding: 20px;
	margin-top: -10px;
	line-height: 36px;
	min-height: 280px;
	color: #FFF;
	font-size: 24px;
}

.content_tl p {
	margin-bottom: 5px;
}

.content_tl .p_left {
	float: left;
	width: 50%;
}

.content_tl p input {
	margin-right: 10px;
	width: 22px;
	height: 22px;
}

.content_tl_img img {
	width: 548px;
	height: 360px;
	border-radius: 8px;
	border: 6px #FFF solid;
	margin: 0 auto;
}

.content_tl_t {
	line-height: 36px;
	padding-bottom: 6px;
	font-weight: bold;
}

.subject_img {
	width: 367px;
	margin: 0 auto;
	margin-top: 20px;
	position: relative;
}

.subject_img span {
	position: absolute;
	bottom: 12px;
	right: 12px;
}

.right {
	background: url("../../../static/img/right.png")/*tpa=images/right.png*/
	no-repeat;
	width: 179px;
	height: 177px;
}

.wrong {
	background: url("../../../static/img/wrong.png")/*tpa=images/wrong.png*/
	no-repeat;
	width: 179px;
	height: 177px;
}

.content_jd {
	background: rgba(255, 255, 255, 0.6);
	position: relative;
	border-radius: 6px;
	width: 560px;
	margin: 0 auto;
	padding: 20px;
	margin-top: 30px;
	line-height: 60px;
	min-height: 420px;
	color: #450b0c;
	font-size: 26px;
}

.content_jd p {
	margin-bottom: 12px;
}

.content_jd span {
	position: absolute;
	bottom: 12px;
	right: 12px;
}

.content_jd .ys {
	color: #d30101;
}

.content_tljd {
	background: url("../../../static/img/t_b.png")/*tpa=images/t_b.png*/
	;
	position: relative;
	border-radius: 6px;
	width: 560px;
	margin: 0 auto;
	padding: 20px;
	margin-top: 30px;
	line-height: 60px;
	min-height: 520px;
	color: #450b0c;
	font-size: 28px;
}

.content_tljd p {
	margin-bottom: 12px;
}

.content_tljd span {
	position: absolute;
	bottom: 12px;
	right: 12px;
}

.content_tljd .ys {
	color: #d30101;
}

.m_w640 {
	width: 640px;
	margin: 0 auto;
	background: url("../../../static/img/index_bg.png")/*tpa=images/index_bg.png*/
	no-repeat;
	height: 836px;
	padding-top: 164px;
	position: relative;
}


/* 排行榜 */

#ranking {
	display: block;
	width: 85%;
	height: 70%;
	position: absolute;
	left: 5%;
	top: 10%;
	border: 2px #e7383d solid;
	background-color: #fff;
	border-radius: 20px;
	padding: 30px 15px;
}

#ranking_list {
	display: block;
	width: 100%;
	height: 100%;
	overflow: hidden;
	overflow-y: auto;
	margin-top: 10px;
}

#ranking_list::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
	background-color: #F5F5F5;
	border-radius: 10px;
}

#ranking_list::-webkit-scrollbar {
	width: 5px;
	background-color: #F5F5F5;
}

#ranking_list::-webkit-scrollbar-thumb {
	border-radius: 10px;
	background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0.44, rgb(122, 153, 217)), color-stop(0.72, rgb(73, 125, 189)), color-stop(0.86, rgb(28, 58, 148)));
}

#ranking_title,
#play_game,
#return_back {
	display: block;
	height: 60px;
	line-height: 60px;
	text-align: center;
	color: #fff;
	font-size: 28px;
	border-radius: 10px;
	position: absolute;
}

#ranking_title {
	width: 50%;
	left: 25%;
	top: -21px;
	background-color: #fdbf33;
}

#play_game {
	width: 50%;
	left: 25%;
	bottom: -21px;
	background-color: #eb3f3e;
}

#return_back {
	width: 45%;
	left: 27.5%;
	bottom: 5%;
	letter-spacing: 5px;
	background-color: #e7383d;
}

.box {
	width: 100%;
	background-color: #fffaef;
	height: 70px;
	line-height: 70px;
	display: -webkit-box;
	display: -moz-box;
	display: box;
	border-radius: 10px;
	margin: 5px auto 5px;
}

.cur {
	background-color: #fdbf34;
}

.col_1 {
	width: 70px;
	text-align: center;
	font-size: 32px;
	color: #eb3f3e;
	background-repeat: no-repeat;
	background-position: center center;
	background-size: 60px 60px;
}

.col_1[title="1"] {
	color: #fff;
	background-image: url(../../../static/img/r1.png);
	line-height: 52px;
}

.col_1[title="2"] {
	color: #fff;
	background-image: url(../../../static/img/r2.png);
	line-height: 52px;
}

.col_1[title="3"] {
	color: #fff;
	background-image: url(../../../static/img/r3.png);
	line-height: 52px;
}

.col_2 {
	-webkit-box-flex: 1;
	-moz-box-flex: 1;
	box-flex: 1;
	padding: 15px 0;
	text-align: center;
}

.col_2 img {
	width: 40px;
	height: 40px;
	border-radius: 50%;
}

.col_3 {
	width: 45%;
	color: #eb3f3e;
	font-size: 30px;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
	text-align: left;
}

.col_4 {
	width: 30%;
	text-align: center;
	color: #f9500d;
	font-size: 28px;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
}

.cur section {
	color: #fff;
}



.pr {
	position: relative;
}

.pa {
	position: absolute;
}

.pf {
	position: fixed;
}

.f-l {
	float: left;
}

.f-r {
	float: right;
}

.tran {
	transition: all 0.3s ease-out;
	-webkit-transition: all 0.3s ease-out;
	-moz-transition: all 0.3s ease-out;
	-o-transition: all 0.3s ease-out;
}

.container {
	width: 1000px;
	margin: 0 auto;
}

.tran {
	transition: all 0.3s ease-out;
	-webkit-transition: all 0.3s ease-out;
	-moz-transition: all 0.3s ease-out;
	-o-transition: all 0.3s ease-out;
}

.container {
	width: 1000px;
	margin: 0 auto;
}

@media screen and (min-width: 320px) {
	.login-banner {
		height: 100px;
	}
}

@media screen and (min-width: 480px) {
	.login-banner {
		height: 120px;
	}
}

@media screen and (min-width: 640px) {
	.login-banner {
		height: 160px;
	}
}

@media screen and (min-width: 768px) {
	.login-banner {
		height: 180px;
	}
}

@media screen and (min-width: 1024px) {
	.login-banner {
		height: 200px;
	}
}

@media screen and (min-width: 1280px) {
	.login-banner {
		height: 220px;
	}
}

@media screen and (min-width: 1366px) {
	.login-banner {
		height: 240px;
	}
}

@media screen and (min-width: 1680px) {
	.login-banner {
		height: 260px;
	}
}

.login-box {
	width: 640px;
	margin: 0 auto;
	overflow-x: hidden;
}

.box-con {
	width: 2880px;
}

.login-con {
	width: 560px;
	margin: 0 40px;
}

.login-box .form-group {
	margin-top: 20px;
}

.form-group input,
.signup-form {
	width: 90%;
	margin-left: 5%;
	height: 70px;
	line-height: 68px \9;
	padding-left: 20px;
	border: 1px #d9d9d9 solid;
	border-radius: 10px;
	font-size: 24px;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	transition: all 0.3s ease-out;
	-webkit-transition: all 0.3s ease-out;
	-moz-transition: all 0.3s ease-out;
}

.form-group input::-webkit-input-placeholder,
.signup-form::-webkit-input-placeholder {
	color: #450b0c;
}

.form-group input::-moz-placeholder,
.signup-form::-moz-placeholder {
	/* Mozilla Firefox 19+ */
	color: #450b0c;
}

.form-group input:-moz-placeholder,
.signup-form:-moz-placeholder {
	/* Mozilla Firefox 4 to 18 */
	color: #450b0c;
}

.form-group input:-ms-input-placeholder,
.signup-form:-ms-input-placeholder {
	/* Internet Explorer 10-11 */
	color: #450b0c;
}

.form-group input:focus {
	border-color: #d30101;
	box-shadow: 0 0 15px #d30101;
	-webkit-box-shadow: 0 0 15px #d30101;
	-moz-box-shadow: 0 0 15px #d30101;
}

.form-group button {
	width: 90%;
	height: 70px;
	line-height: 70px;
	font-size: 26px;
	border: 0;
	background-color: #d30101;
	color: #fff;
	border-radius: 5px;
	margin-left: 5%;
}

.form-group button a {
	display: block;
	color: #FFFFFF;
	font-size: 28px;
}

.form-groupbutton a:hover {
	padding-top: 3px;
}

.form-group button:hover {
	background-color: #d10200;
}

.from-line {
	height: 0;
	overflow: hidden;
	border-top: 1px #fff solid;
	margin-top: 20px;
}

.a-tag {
	position: relative;
	display: block;
	height: 68px;
	border: 1px #c2c2c2 solid;
	text-align: center;
	line-height: 68px;
	color: #987d7d;
	border-radius: 10px;
	font-size: 24px;
	background-color: #fff;
	width: 90%;
	margin-left: 5%;
}

.blue-border {
	border: 1px #d30101 solid;
	color: #d30101;
}

.a-tag:hover {
	background-color: #aaa;
	color: #fff;
}

.blue-border:hover {
	background-color: #d10200;
	color: #fff;
}

.signup,
.other-way,
.mimachongzhi,
.mobile-success {
	width: 560px;
	margin: 0 40px;
}

.signup-form {
	margin-top: 20px;
	background: #fff;
}

.signup-form input {
	border: 0;
	height: 68px;
	width: 70%;
}

.signup-form input:focus {
	box-shadow: 0 0 0 #fff;
}

.signup-form.border {
	border-color: #d30101;
	box-shadow: 0 0 15px #d30101;
	-webkit-box-shadow: 0 0 15px #d30101;
	-moz-box-shadow: 0 0 15px #d30101;
}

.signup-form a {
	color: #d30101;
}

.view-clause {
	padding-top: 20px;
	line-height: 14px;
	text-align: center;
	color: #808080;
}

.view-clause a {
	color: #d30101;
}

.view-clause a:hover {
	text-decoration: underline;
}

a.reacquire {
	color: #c1c1c1;
}

.error-notic {
	color: #ff4e00;
	display: none;
}

.mobile-success {
	padding-top: 20px;
}

.mobile-success p {
	text-align: center;
	color: #F5F5F5;
	font-size: 22px;
}

.mobile-success p span {
	font-weight: bold;
	padding: 0 10px;
}

.mobile-success p a {
	color: #d30101;
	padding-left: 5px;
}

.mobile-success p a:hover {
	text-decoration: underline;
}
/* mall index header and Menu style  20151123*/
#header { background-color: #edc700; border-bottom: #e0bc00 2px solid; height: 32px; padding: 8px 4%; width: 92% }
#header .current_region { float: left; width: 44% }
#header .current_region span, #header .current_location span { color: #000000; text-decoration: none; font-size: 16px; line-height: 36px; float: left }

#header .current_location { }
#header .current_region a, #header .current_location a { display: block }
#header .current_location span { font-size: 18px; }
.menu { width: 92%; padding: 0px; margin: 0px 0 50px 0; background-color: #f9f2e3; padding: 5% 4%; }
.menu ul { list-style: none; padding: 0px; margin: 0px; width: 100%; box-shadow: 0 0 8px #b7b6b6; overflow: hidden }
.menu ul li { list-style: none; margin: 0; width: 33.33%; height: auto; float: left; display: block; position: relative; }
.menu ul li a { color: #FFFFFF; text-decoration: none; text-align: center; display: block }
.menu ul li a span { display: block; text-align: center; font-size: 14px; line-height: 0; position: absolute; top: 75%; width: 100% }
.menu ul li img { display: block; max-width: 100%; }
/*其余页面头部公共样式 by zhangbin 20151123*/
#child_header { background-color: rgba(255, 255, 255, 0.8); height: 32px; padding: 24px 4%;}
#child_header .goback { float: left; width: 38% }
#child_header .goback a{width: 40px;height: 40px;}
#child_header .goback i { height: 40px; width:40px; float: left; background:url(../../../static/img/little_icon.png) no-repeat;}
#child_header .current_location{text-align: center;}
#child_header .current_location span, #child_header .next_operate span { color: #000000; text-decoration: none; font-size: 28px; line-height: 36px; float: left }
#child_header .current_location a { display: block; }
#child_header .current_location span { font-size: 30px; }
#child_header .next_operate { float: right; }
/*个人中心*/
.wx_wrap { display: block }

.per_con { overflow: hidden; padding: 15px 0 10px; width: 100%; }
.per_con .user_photo { display: inline; float: left; width: 38%; overflow: hidden; text-align: center; }
.per_con img { border-radius: 50%; width: 100%; height: 100%; height: 130px; width: 130px; border: 3px solid #FFFFFF; }
.per_con .user_photo span { color: #333333; width: 100%; text-align: center; display: block;font-size: 30px;}
.per_con .name_right { color: #d30101; }
.per_con .name_right p { font-size: 26px; line-height: 45px; }
.menu_list { display: block; padding-bottom: 20% }
.menu_list li { height: 42px; padding: 20px 5%; line-height: 42px; background: #ffffffad; margin-top: 12px; }
.menu_list a { position: relative; display: block; font-size: 28px; color: #450b0c;}
.menu_list a:before { position: absolute; top: 50%; width: 10px; height: 10px; border-top: 2px solid #888888; border-left: 2px solid #888888; background: none; right: 10px }
.menu_list a:before { margin-top: -6px; -ms-transform: rotate(135deg); transform: rotate(135deg); -webkit-transform: rotate(135deg) }
/*邮箱，手机绑定, 密码修改*/
.password_change { display: block; overflow: hidden; margin:5% 0 10% 0;}
.password_change .psd_li { display: block; margin: 2% 0% 0; padding: 3% 7%; width: 86%; background-color: #FFFFFF; }
.password_change .psd_li span { float: left; width: 22%; line-height: 38px; color: #450b0c;font-size: 28px;}
.password_change .psd_li input { background-color: #FFFFFF; border: medium none; color: #555555; height: 40px; padding: 0 0 0 7%; width: 70%; font-size: 30px;}
/*设置样式 */
.set_up { display: block; overflow: hidden; }
.set_up ul { display: block; overflow: hidden;}
.set_up ul li {height: 42px; line-height: 42px; padding: 20px 5%;background-color: #FFFFFF; margin-bottom: 3%;}
.set_up ul li a { display: block; position: relative; font-size: 30px;color: #450b0c;}
.set_up ul li a i { background: rgba(0, 0, 0, 0) none repeat scroll 0 0; transform: rotate(135deg); border-left: 2px solid #888888; border-top: 2px solid #888888; height: 24px; position: absolute; right: 10px; top: 12px; width: 24px; }
.set_up ul li a span { float: right; }
.set_up .quit_btn { background-color: #d30101; border-radius: 5px; color: #FFFFFF; font-size: 28px; line-height: 20px; padding: 4% 0; margin: 15% 5%; width: 90%; display: block; text-align: center }
/*我的积分样式  20151130*/
.my_points {display: block; }
.my_points .all_points { background-color: #ffffffdb; margin:3% 0;height: 60px; line-height: 64px; text-align: right; padding: 10px 0px; overflow: hidden }
.my_points .all_points img { width: 60px; }
.my_points .all_points span { color: #edc700; text-align: left; float: right; width: 58%; font-size: 30px; }
.my_points .all_points span b { font-size: 32px; padding: 0 3px 0 10px }
.my_points p { width: 94%; padding:20px 3%;background-color: #ffffffdb;display: block; overflow: hidden; line-height: 40px;font-size: 30px;margin: 2% 0; }
.my_points p span { color: #555555; float: left; width: 61%; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; }
.my_points p .sp_1, .my_points p .sp_1 a { color: #999999; font-size: 24px; }
.my_points p em, .my_points p time { float: right; text-align: right }
.my_points p em { color: #ea5529; font-style: normal; font-weight: bold }
.my_points p time { font-size: 26px; color: #999999 }
